In [1]:
!pip install psycopg2-binary

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\anaconda python\lib\site-packages (2.9.10)

In [2]:
import psycopg2
import seaborn as sns
import matplotlib as plt

In [3]:
conn = psycopg2.connect(
    dbname = 'salary_analysis_data_job_positions',
    user = 'postgres',
    password = 'Amir3525', # Change this!
    host = 'localhost',
    port = '5432'
)

cur = conn.cursor()
print("Connected to the database")

Connected to the database

In [4]:
cur.execute("SELECT * FROM salaries s LIMIT 10;")
rows = cur.fetchall()

for row in rows:
    print(rows)

[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]
[(2025, 'MI', 'FT', 'Customer Success Manager', 57000, 'EUR', 60000, 'NL', 50, 'NL', 'L'), (2025, 'SE', 'FT', 'Engineer', 165000, 'USD', 165000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Engineer', 109000, 'USD', 109000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 294000, 'USD', 294000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Applied Scientist', 137600, 'USD', 137600, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 82000, 'USD', 82000, 'US', 0, 'US', 'M'), (2025, 'EN', 'FT', 'Data Analyst', 44000, 'USD', 44000, 'US', 0, 'US', 'M'), (2025, 'SE', 'FT', 'Software Development Engineer', 149800, 'USD', 149800, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Software Development Engineer', 89700, 'USD', 89700, 'US', 0, 'US', 'L'), (2025, 'SE', 'FT', 'Research Scientist', 200000, 'USD', 200000, 'US', 0, 'US', 'M')]

# BASIC STATISTICS
### COUNTING TOTAL and DISTINCT job positions

In [7]:
cur.execute("SELECT COUNT(DISTINCT s.job_title) FROM salaries s;")
rows = cur.fetchall()

for row in rows:
    print("The number of different job positions is: ",rows)

The number of different job positions is:  [(312,)]

In [13]:
cur.execute("SELECT s.job_title, COUNT(s.job_title) FROM salaries s GROUP BY s.job_title ORDER BY COUNT(s.job_title) DESC LIMIT 10;")
rows = cur.fetchall()

print("\nNumber of jobs per job positions:\n",rows,"\n")

Number of jobs per job positions:
 [('Data Scientist', 13156), ('Data Engineer', 10883), ('Software Engineer', 9596), ('Data Analyst', 8652), ('Machine Learning Engineer', 6443), ('Engineer', 5344), ('Manager', 3488), ('Research Scientist', 2553), ('Analyst', 2066), ('Applied Scientist', 1778)]

In [ ]:
cur.close()
conn.close()
print("Connection closed")

Connection closed